* {
  margin: 0 auto;
  line-height: 2;
  box-sizing: border-box;
}
body {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(46,46,177,1) 35%, rgba(0,212,255,1) 100%);
  font-family: 'Arimo', sans-serif;
  font-family: Arial;
  color: white;
	/* font-size: 34px; */
  text-align: center;
  margin: 50px;
}
header {
  padding-top: 0px;
  margin-bottom: 0px;
}
section {
  padding-top: 0px;
  padding-bottom: 0px;
}
footer {
  margin-top: 90px;
  margin-bottom: 20px;
}
.premotion {
  margin-bottom: 0px;
}
h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}
h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-size: 13px;
  font-weight: 400;
  line-height: 18.5714px;
}
img {
  width: 400px;
}
a:link,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
.menu-outer {
	height: 84px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul.horizontal-list {
	min-width: 30px;
	list-style: none;
	padding-top: 00px;
	}
ul.horizontal-list li {
	display: inline-block;
  text-align: center;
}
.WIP {
  color: White;
}
.projects {
  color: Orange;
}
.Title {
  color: Orange;
  text-decoration: underline;
}
.pages {
  color: Orange;
}
.projects {
  color: Orange;
  text-decoration: underline;
}
.horizontal-list h3 {
  text-decoration: underline;
}
.navi-box {
	background: url(photos/bar-bg.jpg);
  background-repeat: repeat;
}
.shadow{
  -webkit-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.75);
  border-radius: 45px 45px 45px 45px;
  -moz-border-radius: 45px 45px 45px 45px;
  -webkit-border-radius: 45px 45px 45px 45px;
  border: 1.5px double #000000;
}
li:hover {
  -webkit-box-shadow: inset 0px 5px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 5px 13px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 5px 13px 0px rgba(0,0,0,0.75);
}
.back-to-top:hover {
  -webkit-box-shadow: inset 0px 5px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 5px 13px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 5px 13px 0px rgba(0,0,0,0.75);
}
.navi-button {
  padding: 0px 15px;
}
.text-block {
  margin: 30px 160px;
}
.container {
  margin: 0 auto;
}
div {
  margin: 0 auto;
}
.box {
  background-image: url(photos/webb-dark.png);
  background-repeat: repeat;
  background-size: cover;
}
.banner {
  min-height: 140px;
  background-image: url(photos/abstract.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner1 {
  min-height: 140px;
  background-image: url(photos/markus-spiske.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Style all font awesome icons */
.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
  border-radius: 50%;
  line-height: 50px;
  height: 50px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* WordPress */
.fa-wordpress {
  background: red;
  color: white;
}
/* Youtube */
.fa-youtube {
  background: red;
  color: white;
}
.navi {
  margin: 30px 0px 0px 0px;
}
.navi1 {
  margin: 10px 0px 10px 0px;
}
