body {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(46,46,177,1) 35%, rgba(0,212,255,1) 100%);
  font-family: 'Arimo', sans-serif;
  font-family: Arial;
  color: black;
	/* font-size: 34px; */
  text-align: center;
  zoom:200%;
}

header {
  padding-top: 0px;
  padding-bottom: 60px;
}
section {
  padding-top: 0px;
  padding-bottom: 0px;
}
#premotion {
  padding-top: 60px;
  padding-bottom: 40px;
}
footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}
h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-size: 13px;
  font-weight: 400;
  line-height: 18.5714px;
}
a:link,
a:focus,
a:active {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: black;
}
#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 00px;
	}
ul#horizontal-list li {
	display: inline-block;
}
#WIP {
  color: purple;
}
#projects {
  color: Orange;
}
#Title {
  color: Green;
}
#pages {
  color: Orange
}
